.controls {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem;
  margin: 1rem 0;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.controls section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  border-radius: 0.5rem;
}

.controls section > h3 {
  margin: 0;
  margin-bottom: 0.5rem;
}