.recipes {
  /* display: flex;
  flex-wrap: wrap; */
  gap: 1rem;
  list-style: none;
  padding: 1rem;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 768px) {
  .recipes {
    grid-template-columns: repeat(2, 1fr);
  }  
}

@media screen and (min-width: 1025px) {
  .recipes {
    grid-template-columns: repeat(4, 1fr);
  }  
}

.recipe {
  
}

.placeholderText {
  margin: 0;
  font-style: italic;
  color: #666666;
}